
# Artefatos gerados (pesados) - reproduziveis com build.py
*.html
*.log
*.pdf
*.pyc
__pycache__/
anime/
art/
bb_*.txt
db_line/
db_pages/
db_status.json
db_test/
dbz_pages.txt
dragons_test/
gen2_missing.json
gen2_pages/
gt_src/
nrt_line/
nrt_pages.txt
nrt_pages/
nrt_ref/
nrt_src/
out_jpg/
out_lite/
out_png/
pages/
pikachu.html
resolved.json
sc_*.jpg
sc_*.png
sc_line/
sc_missing.json
sc_pages/
sc_urls.txt
t.jpg
test/
